<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tag_aalt</key>
	<string>tag_aalt.glif</string>
	<key>tag_afrc</key>
	<string>tag_afrc.glif</string>
	<key>tag_c2pc</key>
	<string>tag_c2pc.glif</string>
	<key>tag_c2sc</key>
	<string>tag_c2sc.glif</string>
	<key>tag_calt</key>
	<string>tag_calt.glif</string>
	<key>tag_case</key>
	<string>tag_case.glif</string>
	<key>tag_ccmp</key>
	<string>tag_ccmp.glif</string>
	<key>tag_clig</key>
	<string>tag_clig.glif</string>
	<key>tag_cpsp</key>
	<string>tag_cpsp.glif</string>
	<key>tag_cswh</key>
	<string>tag_cswh.glif</string>
	<key>tag_dlig</key>
	<string>tag_dlig.glif</string>
	<key>tag_dnom</key>
	<string>tag_dnom.glif</string>
	<key>tag_fina</key>
	<string>tag_fina.glif</string>
	<key>tag_frac</key>
	<string>tag_frac.glif</string>
	<key>tag_hist</key>
	<string>tag_hist.glif</string>
	<key>tag_hlig</key>
	<string>tag_hlig.glif</string>
	<key>tag_init</key>
	<string>tag_init.glif</string>
	<key>tag_isol</key>
	<string>tag_isol.glif</string>
	<key>tag_jalt</key>
	<string>tag_jalt.glif</string>
	<key>tag_liga</key>
	<string>tag_liga.glif</string>
	<key>tag_lnum</key>
	<string>tag_lnum.glif</string>
	<key>tag_mark</key>
	<string>tag_mark.glif</string>
	<key>tag_medi</key>
	<string>tag_medi.glif</string>
	<key>tag_mgrk</key>
	<string>tag_mgrk.glif</string>
	<key>tag_mkmk</key>
	<string>tag_mkmk.glif</string>
	<key>tag_mset</key>
	<string>tag_mset.glif</string>
	<key>tag_nalt</key>
	<string>tag_nalt.glif</string>
	<key>tag_numr</key>
	<string>tag_numr.glif</string>
	<key>tag_onum</key>
	<string>tag_onum.glif</string>
	<key>tag_ordn</key>
	<string>tag_ordn.glif</string>
	<key>tag_ornm</key>
	<string>tag_ornm.glif</string>
	<key>tag_pcap</key>
	<string>tag_pcap.glif</string>
	<key>tag_pnum</key>
	<string>tag_pnum.glif</string>
	<key>tag_rlig</key>
	<string>tag_rlig.glif</string>
	<key>tag_salt</key>
	<string>tag_salt.glif</string>
	<key>tag_sinf</key>
	<string>tag_sinf.glif</string>
	<key>tag_smcp</key>
	<string>tag_smcp.glif</string>
	<key>tag_ss01</key>
	<string>tag_ss01.glif</string>
	<key>tag_subs</key>
	<string>tag_subs.glif</string>
	<key>tag_sups</key>
	<string>tag_sups.glif</string>
	<key>tag_swsh</key>
	<string>tag_swsh.glif</string>
	<key>tag_titl</key>
	<string>tag_titl.glif</string>
	<key>tag_tnum</key>
	<string>tag_tnum.glif</string>
	<key>tag_unic</key>
	<string>tag_unic.glif</string>
	<key>tag_zero</key>
	<string>tag_zero.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
