
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Body Font", sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 1rem;
}

code, tt {
    font-family: "Rule Font", monospace;
    font-weight: normal;
    font-style: normal;
}

footer {
    margin-top: 1em;
}

h1 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    color: #999;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.4;
    max-width: 40em;
    margin: 1em 0;
}

a:link {
    color: red;
    text-decoration: none;
    text-decoration: underline;
}

a:visited {
    color: #C00;
}

#browser {
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    padding: 0.25em;
}

tbody th.rule {
    padding-right: 0.5em;
    font-family: "Rule Font", monospace;
    text-align: right;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
}

tbody th.value {
    font-family: "Value Font", monospace;
    text-align: left;
    vertical-align: bottom;
    font-weight: normal;
    font-style: normal;
}

td.test {
    vertical-align: top;
    text-rendering: optimizeLegibility;
    text-align: left;
    font-family: "Font Variant Test";
    font-size: 120%;
}

td.test span {
    display: block;
}

