@font-face {
    font-family: 'OT Test Font_Regular';
    src:    url('OT_Test_Font-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OT Test Font_Blocks';
    src:    url('OT_Test_Font-Blocks.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
